In [1]:
import datetime
import my_util
import pandas
import openpyxl

In [2]:
file_path = '../output/sales_management.xlsx'
datetime_date = my_util.get_datetime("8/11")
just_date = datetime_date.date()
just_date

datetime.date(2021, 8, 11)

In [4]:
#dataframe
cols = ['日付', '弁当名', '搬入個数', '販売価格', '販売個数', '売上']
dataframe = pandas.DataFrame(index=[], columns=cols)

#エクセルファイル指定
workbook = openpyxl.load_workbook(file_path, data_only=True)
#ワークシート指定
sheet = workbook['販売個数']
#最大行
maxRow = sheet.max_row + 1

#エクセルのデータをdataframeへ挿入
col_date = 2
col_menu_name = 6
col_menu_quantity = 7
col_sell_value = 8
col_sell_quantity = 18
col_total_sell = 23
for index in range(1, maxRow):
    if sheet.cell(row=index, column=col_date).value == datetime_date:
        dataframe.loc[index, '弁当名'] = sheet.cell(index,
                                                    col_menu_name).value
        dataframe.loc[index, '搬入個数'] = sheet.cell(index,
                                                    col_menu_quantity).value
        dataframe.loc[index, '販売価格'] = sheet.cell(index,
                                                    col_sell_value).value
        index = index + 1
dataframe

      日付          弁当名 搬入個数 販売価格 販売個数   売上
382  NaN     DXトンカツ弁当    5  650  NaN  NaN
383  NaN       ガパオライス    4  550  NaN  NaN
384  NaN  ゴーヤチャンプルー弁当    4  550  NaN  NaN
385  NaN    台湾風カラアゲ弁当    4  550  NaN  NaN
386  NaN      シャケカラ弁当    2  550  NaN  NaN
387  NaN       サバカラ弁当    2  550  NaN  NaN
388  NaN  春巻き&メンチカツ弁当    5  550  NaN  NaN